/* ここから全体のスタイル */
html,body{
  height: 100%;
  /*overflow: hidden;*/
  position: relative;
}

a,a:hover,a:visited{
  /* color: inherit; */
  text-decoration: none;
}

.logo{
  height:160px;
  width: 180px;
  position:absolute;
  top:0px;
  left:0px;
}

/* ここまで */

/* ここから */
/* welcome.htmlのスタイル */
.start{
    position:absolute;
    background-color:#f5f5f5;
    width: 100vw;
    height: 100vh;
}

.start_img{
  width:100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.FitMate{
  color:#ffffff;
  text-align:center;
  vertical-align:text-top;
  font-size:160px;
  font-family:Inter;
  line-height:auto;
  border-style:hidden;
  outline:none;
  left:336px;
  top:357px;
  position:absolute;
  width:767px;
    
}

.sub{
  color:#ffffff;
  text-align:center;
  vertical-align:text-top;
  font-size:36px;
  font-family:Inter;
  left:395px;
  top:543px;
  width:649px;
  height:39px;
  position:absolute;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

/* ここまで */

/* ここから */
/* login.htmlのスタイル */
.login_btn{
  border: none;
  outline: none;
  background: transparent;
}

    
.login{
  background-color:#53798b;
  width: 100vw;
  height: 150px;
  padding-bottom: 30px;
}

.user_login{
  background-color:#71afaf;
  height:600px;
  width:447px;
  left:802px;
  top:251px;
  position:absolute;
}

.welcom{
  color:#ffffff;
  text-align:center;
  vertical-align:text-top;
  font-size:48px;
  left:796px;
  top:312px;
  width:459px;
  height:75px;
  position:absolute;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

.username{
  color:#fff5f5;
  text-align:center;
  vertical-align:text-top;
  font-size:36px;
  font-family:Inter;
  left:829px;
  top:435px;
  width:254px;
  height:58px;
  position:absolute;
  line-height:auto;
  border-style:hidden;
  outline:none;
}



.password{
  color:#ffffff;
  text-align:center;
  vertical-align:text-top;
  font-size:36px;
  font-family:Inter;
  left:878px;
  top:551px;
  width:199px;
  height:58px;
  position:absolute;
  line-height:auto;
  border-style:hidden;
  outline:none;
  }

.rectangle2{
    background-color:#ffffff;
    height:39px;
    width:276px;
    top:493px;
    left:888px;
    position:absolute;
}
.rectangle3{
    background-color:#ffffff;
    height:39px;
    width:276px;
    top:609px;
    left:888px;
    position:absolute;
}

.email{
  color:#ffffff;
  text-align:center;
  vertical-align:text-top;
  font-size:36px;
  font-family:Inter;
  left:869px;
  top:667px;
  width:280px;
  height:58px;
  position:absolute;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

.forget_pass{
  color:#1b09e4;
  text-align:center;
  vertical-align:text-top;
  font-size:20px;
  font-family:Inter;
  left:958px;
  top:667px;
  width:274px;
  height:55px;
  position:absolute;
  line-height:auto;
  text-decoration:underline;
  border-style:hidden;
  outline:none;
}

.user_create{
  color:#ffffff;
  text-align:center;
  vertical-align:text-top;
  font-size:32px;
  font-family:Inter;
  left:1182px;
  top:80px;
  width:230px;
  height:34px;
  position:absolute;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

.login_btn{
  color:#ffffff;
  text-align:center;
  vertical-align:text-top;
  font-size:32px;
  font-family:Inter;
  left:955px;
  top:744px;
  width:142px;
  height:48px;
  position:absolute;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

.login_rec{
  background-color:#cf835d;
  height:55px;
  width:167px;
  border-radius:20px;
  top:741px;
  left:942px;
  position:absolute;
}
  
.workingout_img{
  background-color:#53798b;
  height:537px;
  width:449px;
  padding:0px;
  left:271px;
  top:318px;
  position:relative;
  }

.login_txt{
  color:#ffffff;
  text-align:center;
  vertical-align:text-top;
  font-size:64px;
  font-family:Inter;
  left:280px;
  top:189px;
  width:448px;
  height:77px;
  position:absolute;
  line-height:auto;
  border-style:hidden;
  outline:none;
}

/* ここまで */

/* ここから */
/* dashbord.htmlのスタイル */
.menu-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #53798b;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 10px;
}
.menu-btn span:after {
  top: 10px;
}

.container-breakinside {
  column-count: 2;
  width: 80%;
  margin: 0 auto;
  }
  .container-breakinside > div {
  break-inside: avoid; 
  margin: 0 0 30px;
  background-color: #CF835D;
  color: #FFF;
  padding: 2em 1em;
}

.item{
  border-radius: 30px;
  text-align: center;
}

.item p{
  font-size:40px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 0.3px solid #fff;
  padding: 10px;
}

.item h2{
  text-decoration: underline;
  font-size: 35px;
}

.registar{
  padding-top: 20px;
  display: inline-block;
  width: 160px;
  height: 48px;
  border-radius: 20px;
  font-size: 33px;
  background-color: #72AFAF;
  color: black;
}