{% extends 'base.html' %}
{% load static %} 
{% load widget_tweaks %}
{% block content %}
  <div class="login">
    <div class="header">
      <img class="logo" src="../static/FitMate-logo-black.png" alt="">
    </div>
    <p class="user_info_text">あなたのユーザ情報を教えてください。</p>
    
    <form action="{% url 'signup'%}" method="post">
      {{ form.non_field_errors }}
      {% csrf_token %}
          <div class="signup_username">
            ユーザ名 
          </div>
          <div class="signup_email">
            メールアドレス
          </div>
          <div class="signup_height">
            身長
          </div>
          <div class="signup_weight">
            体重
          </div>
          <div class="signup_targetweight">
            目標体重
          </div>
          <div class="signup_password1">
            パスワード
          </div>
          <div class="signup_password2">
            パスワード※確認用
          </div>
          {% for field in form %}
          {% if forloop.counter == 1 %}
            {{ field | add_class:"username_rec"}}
            {{ field.errors }}
          {% endif %}
          {% if forloop.counter == 2 %}
            {{ field | add_class:"email_rec"}}
            {{ field.errors }}
          {% endif %}
          {% if forloop.counter == 3 %}
            {{ field | add_class:"height_rec"}}
            {{ field.errors }}
          {% endif %}
          {% if forloop.counter == 4 %}
            {{ field | add_class:"weight_rec"}}
            {{ field.errors }}
          {% endif %}
          {% if forloop.counter == 5 %}
            {{ field | add_class:"targetweight_rec"}}
            {{ field.errors }}
          {% endif %}
          {% if forloop.counter == 6 %}
            {{ field | add_class:"password1_rec"}}
            {{ field.errors }}
          {% endif %}
          {% if forloop.counter == 7 %}
            {{ field | add_class:"password2_rec"}}
            {{ field.errors }}
          {% endif %}
          {% endfor %}
      <div class="signup_rec">
      </div>
      <div class="signup_btn">
        <p><input type="submit" value="つぎへ"></p>
      </div>
    </form>
  <img class="workingout_img" src="../static/undraw_job_hunt_re_q203.svg" alt="">
</div>
{% endblock content %}