<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    <p>{{message}}</p>
    <form action="{% url 'signup'%}" method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="ログイン"></p>
    </form>
    <p><a href="{% url 'signup'%}">ユーザー登録</a></p>
</body>
</html>
<!-- 
{% load static %} 
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/reset.css">
    </style>
    <title>FitMateへようこそ</title>
  </head>
<body>
  <div class="login">
    <img class="logo" src="../static/FitMate-logo-black.png" alt="">
    <div class="user_login">
    </div>
    <div class="welcom">
      ユーザ登録
    </div>
    
    <form action="{% url 'login'%}" method="post">
      {{ form.non_field_errors }}
      {% csrf_token %}
          <div class="username">
            ユーザ名 
          </div>
          <div class="password">
            パスワード
          </div>
          {% for field in form %}
          {% if forloop.counter == 1 %}
            {{ field | add_class:"rectangle2"}}
            {{ field.errors }}
          {% endif %}
          {% if forloop.counter == 2 %}
            {{ field | add_class:"rectangle3"}}
            {{ field.errors }}
          {% endif %}
          {% if forloop.counter == 5 %}
            {{ field | add_class:"rectangle4"}}
            {{ field.errors }}
          {% endif %}
          {% endfor %}
      <div class="login_rec">
      </div>
      <div class="login_btn">
        <p><input type="hidden" name="next" value="{{next}}"></p>
        <p><input type="submit" value="つぎへ"></p>
      </div>
    </form>
    <div>
      <img class="workingout_img" src="../static/undraw_mindfulness_uhb4.svg" alt="">
    </div>
    <div class="login_txt">
      FitMateへ<br>ようこそ
    </div>
  </div>
</body>
</html> -->